<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">

    <title>INSPINIA | Dashboard v.4</title>

</head>

<body class="top-navigation">

    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
        <div class="wrapper wrapper-content">
            <div class="container">

                <div class="text-center">
                    <h1 class="text-navy">Crud de Usuarios</h1>
                    <h2>Utilizando Utilizando
                        <strong> Angular </strong> + <strong> FireBase </strong>
                    </h2>
                    <img class="img" src="../assets/images.png">
                </div>

                <div class="row">
                    <h3 class="text-center">Formulario de Usuarios</h3>

                    <div class="accion">
                        <div class="col md-12 text-center">
                            <span class="badge badge-default">{{accion}}</span> 
                        </div>
                    </div>

                    <div class="col-md-3"></div>
                      <div class="col-md-6">
                          <div class="ibox float-e-margins">

                            <div *ngIf="estado"
                                class="alert alert-success" role="alert">
                                <h4 class="alert-heading"><i class="fa fa-check" aria-hidden="true"></i> 
                                <strong>Los Datos fueron guardados correctamente...</strong></h4>
                            </div>

                              <div class="text-right">
                                    <button (click)="limpiar_datos(forma)"
                                    type="button" class="btn btn-sm btn-primary"> Nuevo Usuario
                                    </button>

                                    <button [routerLink]="['home']"
                                    type="button" class="btn btn-sm btn-default"> volver al Lisatdo
                                    </button>

                                    <br>
                              </div>

                             <form (ngSubmit)="guardar()" #forma="ngForm">

                                <div class="form-group"
                                [ngClass]="{ 'has-danger': (apellido.errors?.required) && apellido.touched }">
                                    <label for="exampleInputEmail1">Apellido</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                    name="apellido" #apellido="ngModel" [(ngModel)]="user.apellido" required>

                                    <div *ngIf="apellido.errors?.required && apellido.touched" class="text-danger">
                                       <i>Este campo apellido es requerido.</i> 
                                    </div>
                                </div>

                                <div class="form-group" 
                                [ngClass]="{ 'has-danger': (nombre.errors?.required) && nombre.touched }">
                                    <label for="exampleInputEmail1">Nombre</label>
                                    <input type="text" class="form-control" aria-describedby="emailHelp"
                                    name="nombre" #nombre="ngModel" [(ngModel)]="user.nombre" required>
                                    
                                    <div *ngIf="nombre.errors?.required && nombre.touched" class="text-danger">
                                            <i>El campo nombre es requerido.</i> 
                                    </div>
                                    
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputEmail1">Edad</label>
                                    <input type="text" class="form-control" aria-describedby="emailHelp"
                                    name="edad" [(ngModel)]="user.edad">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Fecha Nac.</label>
                                    <input type="text" class="form-control" aria-describedby="emailHelp"
                                    name="fecha_nac" [(ngModel)]="user.fecha_nac">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Domicilio</label>
                                    <input type="text" class="form-control" aria-describedby="emailHelp"
                                    name="domicilio" [(ngModel)]="user.domicilio">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Teléfono</label>
                                    <input type="text" class="form-control" aria-describedby="emailHelp"
                                    name="tel" [(ngModel)]="user.tel">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Ciudad</label>
                                    <input type="text" class="form-control" aria-describedby="emailHelp"
                                    name="ciudad" [(ngModel)]="user.ciudad">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">País</label>
                                    <i *ngIf="pais.errors?.required" class="text-success">
                                            (Seleccione un país)
                                        </i>
                                    <select [(ngModel)]="user.pais"
                                    name="pais" #pais="ngModel"
                                    class="form-control" required>
                                    <option value="Argentina">Argentina</option>
                                    <option value="España">España</option>
                                    <option value="DC">EEUU</option>
                                    <option value="Otros">Otros</option>
                                    </select>
                                </div>
                                   
                                <br>
                                <div class="form-group">
                                    <i 
                                    *ngIf="user1.errors?.required || user2.errors?.required || user3.errors?.required
                                    || user4.errors?.required" 
                                    class="text-success">
                                       Debe seleccionar una imagen de usuario.
                                   </i><br><br>
                           <div class="row margin-30">
                               <div class="col-sm-3 text-center">
                                   <img class="img-circle" src="../assets/img/h5.jpg"><br>
                                   <input type="radio" value="../assets/img/h5.jpg" [(ngModel)]="user.img" 
                                   #user1="ngModel" name="user" required>
                               </div>
                               <div class="col-sm-3 text-center">
                                   <img class="img-circle" src="../assets/img/h6.jpg"><br>
                                   <input type="radio" value="../assets/img/h6.jpg" checked="true" [(ngModel)]="user.img"
                                   #user2="ngModel" name="user">
                               </div>
                               <div class="col-sm-3 text-center">
                                   <img class="img-circle" src="../assets/img/m5.jpg"><br>
                                   <input type="radio" value="../assets/img/m5.jpg" [(ngModel)]="user.img" 
                                   #user3="ngModel" name="user">
                               </div>
                               <div class="col-sm-3 text-center">
                                       <img class="img-circle" src="../assets/img/m6.jpg"><br>
                                       <input type="radio" value="../assets/img/m6.jpg" [(ngModel)]="user.img" 
                                   #user4="ngModel" name="user">
                               </div>       
                           </div>
                               
                       </div> 
                                      
                                <br>
                                <div class="form-group text-right">
                                    <button [disabled]="forma.invalid"
                                    type="submit" class="btn btn-sm btn-primary"> Guardar </button>

                                    <button [routerLink]="['/home']"
                                    type="button" class="btn btn-sm btn-default"> Cancelar </button>
                                </div>
                             </form>
                          </div>
                      </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="pull-right">
                Boostraps 3
            </div>
            <div>
                <strong>Desarrollo</strong> federicomtaborda@gmail.com &copy; 2017-2018
            </div>
        </div>

        </div>
        </div>

</body>

</html>
